.bottom_page{
  display: flex;
  flex-direction: column;
  background-color: #7335b7;
  margin: -8px;
  margin-top: 100px;
  padding-bottom: 50px;
  border-top-left-radius: 250px;
  text-align: center;
  color: white;
}
.bottom_grid{
  padding-top: 150px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 300px 240px 300px 300px;
  row-gap: 20px;
  column-gap: 20px;
  text-align: left;
  justify-content: center;
}
.bottom_grid img{
  height: fit-content;
}
.sub_button{
  margin-top: 30px;
  border-radius: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottom_header{
  font-weight: 600;
  font-size: 24px;
}
.abc{
  height: 20px;
}
.text_input{
  height: 40px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border : none;
  border-bottom: 2px solid black;
  color: white;
  border-color: white; 
  user-select: none;
}
.text_input::placeholder{
  font-size: 30;
  color: white;
}
.text_input::selection, .text_input::-moz-selection{
  background-color: #7335b7;
}
@media (max-width: 1200px) {
  .bottom_grid{
    grid-template-columns: 300px 200px 260px 240px;
  }
}
@media (max-width: 1000px) {
  .bottom_grid{
    grid-template-columns: 300px 300px;
  }
}
@media (max-width: 750px) {
  .bottom_grid{
    grid-template-columns: 300px;
  }
}